--USE [TRENDYOL]
--GO
--/****** Object:  Trigger [dbo].[TRENDYOLSTOK]    Script Date: 15.09.2025 10:38:44 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--USE TRENDYOL

--ALTER TABLE TBLURUN
--(
--	URUNID smallint identity(1,1) primary key,
--	URUNAD varchar(50),
--	URUNKATEGORI smallint,
--	URUNSTOK smallint,
--	URUNDURUM bit default '1',
--	URUNFIYAT decimal(18,2)

	
--)

--CREATE TABLE TBLKATEGORI
--(
--	KATEGORIID smallint identity(1,1) primary key,
--	KATEGORIAD varchar(30)
--)

--CREATE TABLE TBLHAREKET
--(
--	HAREKETID int identity(1,1) primary key,
--	HRURUNAD smallint,
--	HRURUNKATEGORI smallint,
--	HRURUNSTOK smallint,
--	HRURUNFIYAT decimal(18,2),
--	HRURUNKAZANC decimal(18,2)
--)

--CREATE TABLE TBLKASA
--(
--	GELIR decimal(18,2),
--	GIDER decimal(18,2),
--	TOPLAM decimal (18,2)
--)

--ALTER TRIGGER [dbo].[TRENDYOLSTOK]
--ON [dbo].[TBLHAREKET]
--AFTER INSERT
--AS
--DECLARE @URUNSTOK smallint
--DECLARE @HRURUNADET smallint
--select @URUNSTOK=URUNSTOK FROM TBLURUN
--select @HRURUNADET=HRURUNADET FROM inserted
--UPDATE TBLURUN SET URUNSTOK=@URUNSTOK-@HRURUNADET

--ALTER TRIGGER URUNKAR
--ON TBLHAREKET
--AFTER INSERT
--AS
--DECLARE @HAREKETID int
--declare @URUNSATIS decimal(18,2)
--declare @URUNKAR decimal(18,2)
--DECLARE @URUNALIS decimal(18,2)
--select @URUNALIS=URUNALISFIYAT FROM TBLURUN WHERE URUNID=(SELECT HRURUNAD FROM TBLHAREKET WHERE HAREKETID=(SELECT HAREKETID FROM inserted))
--select @HAREKETID=HAREKETID FROM inserted
--select @URUNSATIS=URUNSATISFIYAT FROM TBLURUN WHERE URUNID=(SELECT HRURUNAD FROM TBLHAREKET WHERE HAREKETID=(SELECT HAREKETID FROM inserted)) 
--select @URUNKAR=URUNSATISFIYAT-URUNALISFIYAT FROM TBLURUN WHERE URUNID=(SELECT HRURUNAD FROM TBLHAREKET WHERE HAREKETID=(SELECT HAREKETID FROM inserted))
--UPDATE TBLHAREKET SET HRURUNFIYAT=@URUNSATIS WHERE HAREKETID=@HAREKETID
--UPDATE TBLHAREKET SET HRURUNKAZANC=@URUNKAR WHERE HAREKETID=@HAREKETID 
