USE [master]
GO
/****** Object:  Database [DbPersonel]    Script Date: 2.06.2025 16:01:53 ******/
CREATE DATABASE [DbPersonel]
 
GO
USE [DbPersonel]
GO
/****** Object:  Table [dbo].[TBLBILGI]    Script Date: 2.06.2025 16:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLBILGI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[SEHIR] [varchar](20) NULL,
	[GOREV] [varchar](30) NULL,
	[MAAS] [smallint] NULL,
 CONSTRAINT [PK_TBLBILGI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLDEPARTMAN]    Script Date: 2.06.2025 16:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLDEPARTMAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[ACIKLAMA] [varchar](20) NULL,
 CONSTRAINT [PK_TBLDEPARTMAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLBILGI] ON 

GO
INSERT [dbo].[TBLBILGI] ([ID], [AD], [SOYAD], [SEHIR], [GOREV], [MAAS]) VALUES (1, N'selim', N'yılmaz', N'istanbul', N'mühendis', 5000)
GO
INSERT [dbo].[TBLBILGI] ([ID], [AD], [SOYAD], [SEHIR], [GOREV], [MAAS]) VALUES (2, N'CENGİZ', N'YILMAZ', N'TURHAL', N'ÖĞRETMEN', 3000)
GO
INSERT [dbo].[TBLBILGI] ([ID], [AD], [SOYAD], [SEHIR], [GOREV], [MAAS]) VALUES (3, N'AYŞE', N'YILMAZ', N'MALATYA', N'İŞ KADINI', 10000)
GO
SET IDENTITY_INSERT [dbo].[TBLBILGI] OFF
GO
USE [master]
GO
