USE [master]
GO
/****** Object:  Database [DBSECIMPROJE]    Script Date: 12.06.2025 15:47:23 ******/
CREATE DATABASE [DBSECIMPROJE]
 
GO
USE [DBSECIMPROJE]
GO
/****** Object:  Table [dbo].[TBLILCE]    Script Date: 12.06.2025 15:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLILCE](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[ILCEAD] [varchar](20) NULL,
	[APARTI] [smallint] NULL,
	[BPARTI] [smallint] NULL,
	[CPARTI] [smallint] NULL,
	[DPARTI] [smallint] NULL,
	[EPARTI] [smallint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLILCE] ON 

GO
INSERT [dbo].[TBLILCE] ([ID], [ILCEAD], [APARTI], [BPARTI], [CPARTI], [DPARTI], [EPARTI]) VALUES (1, N'KADIKÖY', 125, 85, 56, 50, 90)
GO
INSERT [dbo].[TBLILCE] ([ID], [ILCEAD], [APARTI], [BPARTI], [CPARTI], [DPARTI], [EPARTI]) VALUES (2, N'SULTANGAZİ', 15, 45, 42, 46, 95)
GO
SET IDENTITY_INSERT [dbo].[TBLILCE] OFF
GO
USE [master]
GO
